.gen {
  &-app-header {
    position: fixed;
    width: 100vw;
    height: 50px;
    background-color: #0288D1;
    padding: 20px;
    top: 0px;

    &-logo {
      color: white;
      font-family: "beyond_the_mountains";

      h1 {
        font-size: 20px;
      }
    }
  }
  &-banner {
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    img {
      width: 100vw;
      height: 100vh;
    }

    .overlay {
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.7);
      position: fixed;
      top: 0px;

      h1 {
        color: white;
        font-family: "beyond_the_mountains";
        font-size: 80px;
        margin: 0px;
      }

      p {
        font-size: 17px;
        font-family: "open sans";
        color: rgba(255, 255, 255, 0.7);
        margin: 0px;
        margin-top: -35px;
      }
    }
  }
}
