@import 'base';
@import "layout";

@import "Main/signIn";
@import "Main/appHeader";

@font-face {
  font-family: "beyond_the_mountains";
  src: url('fonts/beyond_the_mountains.ttf') format('truetype');
}


// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
